BODY {
    BACKGROUND-COLOR: #dedede
}
.angel_size {
    WIDTH: 50px; HEIGHT: 50px
}
.rel0 {
    BACKGROUND-IMAGE: url(/astral/a12h12.gif)
}
.rel1 {
    BACKGROUND-IMAGE: url(/astral/a1d1.gif)
}
.rel2 {
    BACKGROUND-IMAGE: url(/astral/a1d2.gif)
}
.rel3 {
    BACKGROUND-IMAGE: url(http://img.combats.ru/astral/a1d3.gif)
}
.rel4 {
    BACKGROUND-IMAGE: url(/astral/a1d4.gif)
}
.rel5 {
    BACKGROUND-IMAGE: url(/astral/a1d5.gif)
}
.rel6 {
    BACKGROUND-IMAGE: url(/astral/a1d6.gif)
}
.rel-1 {
    BACKGROUND-IMAGE: url(/astral/a1s1.gif)
}
.rel-2 {
    BACKGROUND-IMAGE: url(/astral/a1s2.gif)
}
.rel-3 {
    BACKGROUND-IMAGE: url(/astral/a1s3.gif)
}
.rel-4 {
    BACKGROUND-IMAGE: url(/astral/a1s4.gif)
}
.rel-5 {
    BACKGROUND-IMAGE: url(/astral/a1s5.gif)
}
.rel-6 {
    BACKGROUND-IMAGE: url(/astral/a1s6.gif)
}
.angel11 {
    BACKGROUND-IMAGE: url(/astral/ah1.gif)
}
.angel12 {
    BACKGROUND-IMAGE: url(/astral/ah17.gif)
}
.angel13 {
    BACKGROUND-IMAGE: url(/astral/ah5.gif)
}
.angel14 {
    BACKGROUND-IMAGE: url(/astral/ah18.gif)
}
.angel15 {
    BACKGROUND-IMAGE: url(/astral/ah8.gif)
}
.angel16 {
    BACKGROUND-IMAGE: url(/astral/ah10.gif)
}
.angel17 {
    BACKGROUND-IMAGE: url(/astral/ah3.gif)
}
.angel18 {
    BACKGROUND-IMAGE: url(/astral/ah9.gif)
}
.angel19 {
    BACKGROUND-IMAGE: url(/astral/ah13.gif)
}
.angel20 {
    BACKGROUND-IMAGE: url(/astral/ah11.gif)
}
.angel21 {
    BACKGROUND-IMAGE: url(/astral/ah16.gif)
}
.angel22 {
    BACKGROUND-IMAGE: url(/astral/ah7.gif)
}
.angel23 {
    BACKGROUND-IMAGE: url(/astral/ah15.gif)
}
.angel24 {
    BACKGROUND-IMAGE: url(/astral/ah2.gif)
}
.angel25 {
    BACKGROUND-IMAGE: url(/astral/ah14.gif)
}
.angel26 {
    BACKGROUND-IMAGE: url(/astral/ah12.gif)
}
.angel27 {
    BACKGROUND-IMAGE: url(/astral/ah4.gif)
}
.angel28 {
    BACKGROUND-IMAGE: url(/astral/ah6.gif)
}
